header{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    color: #000000;
    padding-top: 2%;
    padding-bottom: 2%;
    grid-area: header;
}

header > p{
    font-weight: 900;
    width: 100%;
    padding-left: 5%;
}

nav{
    position: fixed;
    margin-top: 5%;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    margin-left: 0;
}

nav a{
    color: #000000;
    text-decoration: none;
    padding-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.active{
    color: #5a80ef;
}